global
    daemon
    nbthread 1
    log stdout format raw local0
    maxconn 16384
    tune.bufsize 16384

defaults
    mode tcp
    timeout connect 1s
    timeout client 30s
    timeout server 30s
    log global
    no log
    option tcplog
    option dontlognull

frontend rinha
    bind *:9999
    default_backend apis

backend apis
    balance roundrobin
    option redispatch
    retries 2
    server api1 /sockets/api1.sock check inter 5s rise 2 fall 3
    server api2 /sockets/api2.sock check inter 5s rise 2 fall 3
