global
    maxconn 16384
    nbthread 1
    tune.bufsize 16384
    log-tag rinha

defaults
    mode tcp
    option dontlognull
    option dontlog-normal
    no log
    timeout connect 50ms
    timeout client 5000ms
    timeout server 5000ms

frontend fraud_front
    bind *:9999
    default_backend fraud_back

backend fraud_back
    balance roundrobin
    server api1 /sockets/api1.sock maxconn 8192
    server api2 /sockets/api2.sock maxconn 8192
